* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

/*header*/

header {
    height: 70px;
}

header .logo img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-left: 20px;
}

header .logo span {
    font-size: 30px;
    vertical-align: middle;
    line-height: 70px;
}

header::after {
    display: table;
    content: '';
    clear: both;
}

.logo {
    float: left;
}

.selettore-difficoltà {
    float: right;
    line-height: 70px;
    margin: 0 20px;
}

/*main*/

main {
    height: calc(100vh - 120px);
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}

#gioco {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

#gioco::after {
    clear: both;
    display: table;
    content: '';
}

.box {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.clicked {
    background-color: blue;
}

.bomb {
    background-color: red;
}

/*footer*/

footer {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer a {
    padding-left: 5px;
}